@import url("https://fonts.googleapis.com/css?family=Lato");
html,
body {
  height: 100%;
  margin: 0;
  font-family: Lato, sans-serif;
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}
.wrapper {
  text-align: center;
}
.time {
  color:aqua;
  font-size: 6em;
}
.label {
  font-size: 2em;
  display: block;
  color: aquamarine;
}
.bg {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
}
